<div class="flex flex-col items-center justify-center text-center py-40">
    <img src="../../../../assets/photos/k_v_h_photo.jpg" alt="vinicius_hansel_kid" class="rounded-full mx-auto mb-4" style="width: 100px; height: 100px;">
    <h1 class="text-white text-3xl font-bold mb-2">Vinicius Hansel</h1>
    <h2 class="text-white text-xl">Desenvolvedor de Software</h2>
</div>

<div class="text-left mt-8 pl-28">
    <h1 class="text-white font-bold mb-2">Descrição</h1>
    <p class="text-white">desenvolvedor q cria parada mt massa kkk</p>
</div>


<div class="text-right mt-8 pr-28">
    <h1 class="text-white font-bold mb-2">Experiências</h1>
    <p class="text-white">a porra da gvd aquela empresa horrivel </p>
</div>
