<h1 mat-dialog-title class="text-black">Entrar</h1>

<div mat-dialog-content class="bg-black text-black">
    
    <div class="mb-4 px-4">
        <label for="name" class="block text-white text-sm font-bold mb-2">Nome</label>
        <input [(ngModel)]="username" class="w-full px-3 py-2 border rounded-lg text-black" placeholder="Usuário">
    </div>
  
    <div class="mb-4 px-4">
        <label for="name" class="block text-white text-sm font-bold mb-2">Senha</label>
        <input  [(ngModel)]="password" class="w-full px-3 py-2 border rounded-lg text-black" placeholder="Senha" type="password">
    </div>

    <mat-dialog-actions>
        <button mat-raised-button class="text-black" (click)="onConfirm()">Entrar</button>
        <button mat-raised-button class="text-black" (click)="onConfirm()">Cancelar</button>
    </mat-dialog-actions>
  
</div>